[user]
	name = Matt Goforth
	email = matt@2primes.com

[alias]
lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold black)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold black)— %an%C(reset)' --abbrev-commit
lg = !"git lg1"
[push]
	default = simple
[color]
	diff = true
[core]
	editor = /usr/bin/emacs
	autocrlf = input
